ansible==4.2.0
ansible-core=2.11.2
ansible-lint==4.3.7
docker==5.0.0
flake8==3.9.2
molecule==3.0.4
molecule-docker==0.3.4
yamllint==1.26.1
pipx==0.16.4
pytest==6.2.4
python3-venv
python-secrets
testinfra==4.1.0
xmltodict==0.13.0
