bump2version
docker==6.0.0
flake8
pytest>=6.2.4
#
# Use patched pytest-ansible for deconflicted argparse options.
# git+https://github.com/ansible-community/pytest-ansible
git+https://github.com/davedittrich/pytest-ansible@develop
#
git+https://github.com/ansible-community/pytest-molecule@236ac70192ada5fd81a2ea61798948ccd4bee34a
ansible-core==2.13.3
ansible>=2.10
ansible-compat>=2.2.0
ansible-lint==6.7.0
#
# Use patched molecule for deconflicted argparse options.
# molecule==4.0.1
git+https://github.com/davedittrich/molecule.git@develop
#
molecule-docker
yamllint==1.26.1
pipx>=0.16.4
pipdeptree
python-secrets>=22.5.0
pypandoc<1.8
#
# Use patched pytest-testinfra for deconflicted argparse options.
#testinfra==5.3.1
git+https://github.com/davedittrich/pytest-testinfra@develop
#
tox
xmltodict
