flake8
pytest-testinfra[ansible]
pytest-molecule
ansible-core==2.13.3
ansible>=2.10
ansible-compat>=2.2.0
ansible-lint==6.4.0
git+https://github.com/ansible-community/molecule
molecule-docker
molecule-gce
