file://{{ homedir[branding__user] }}/Documents
file://{{ homedir[branding__user] }}/Music
file://{{ homedir[branding__user] }}/Pictures
file://{{ homedir[branding__user] }}/Videos
file://{{ homedir[branding__user] }}/Downloads
