# If you are currently editing the file '{{ dropins__dropin_path }}', be aware that
# its contents are generated using the program 'update-dotdee' from files
# in the '{{ dropins__dropin_path }}.d' directory. This text comes from one such file
# that is managed by Ansible, so you should not edit that file directly either.
#
# To extend the contents of `{{ dropins__dropin_path }}`, place additional files in
# `.d` directory (with or without using leading numbers to force the order
# during concatenation) and then run:
#
#    $ update-dotdee {{ dropins__dropin_path }}
#
